<div class="login-dark">
    <form method="post">
        <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
        <p class="text-center">{{ 'LOGIN.SELECT' | translate }}</p>
        <a class="btn btn-block btn-social btn-google" (click)="signInWithGoogle()">
            <span class="fa fa-google"></span>{{ 'LOGIN.WITHGOOGLE' | translate }}
        </a>
        <a class="btn btn-block btn-social btn-facebook" (click)="signInWithFacebook()">
            <span class="fa fa-facebook"></span>{{ 'LOGIN.WITHFACEBOOK' | translate }}
        </a>
    </form>
</div>