<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-push-6 item text">
                    <h3>PRO SQUASH Romania</h3>
                    <p class="text-justify">On January 2013, the&nbsp;<a href="https://en.wikipedia.org/wiki/Professional_Squash_Association">Professional Squash Association</a> announced along with&nbsp;<a href="https://en.wikipedia.org/wiki/U.S._Squash">U.S. Squash</a>,
                        to create a new tournament series called the US Pro Squash Series. Similar to the&nbsp;<a href="https://en.wikipedia.org/wiki/U.S._Open_Series">U.S. Open Series</a> in&nbsp;<a href="https://en.wikipedia.org/wiki/Tennis">tennis</a>,
                        this tournament series is used to support marketing activities for tournaments in the&nbsp;<a href="https://en.wikipedia.org/wiki/United_States">United States</a>.. </p>
                </div>
                <div class="col-md-3 col-md-pull-6 col-sm-4 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Development</a></li>
                        <li><a href="#">Hosting</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-md-pull-6 col-sm-4 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
                <div class="col-md-12 col-sm-4 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">msg systems © 2017</p>
        </div>
    </footer>
</div>
<div class="brands">
    <a href="#"> <img src="assets/img/instacart.png"><img src="assets/img/kickstarter.png"><img src="assets/img/lyft.png"><img src="assets/img/shopify.png"><img src="assets/img/pinterest.png"><img src="assets/img/twitter.png"></a>
</div>