<div class="footer-dark" style="background-color: rgba(30, 21, 54, 0.95);">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 item">
                    <h3>{{ 'NAVBAR.CONTACT' | translate }}</h3>
                    <ul>
                        <li><em class="fa fa-envelope-o" style="margin: 5px;"></em><a href="mailto:contact@prosquash.ro">contact@prosquash.ro</a></li>
                        <li><em class="fa fa-phone" style="margin: 5px;"></em>+40 (736) 135 135</li>
                    </ul>
                </div>
                <div class="col-md-8 item text">
                    <h3>{{ 'FOOTER.TITLE' | translate }} <a href="https://www.facebook.com/prosquashcluj/" target="_blank" rel="external"><i class="fa fa-facebook-official"></i></a></h3>
                    <p class="text-justify" >{{ 'FOOTER.PROSQUASH' | translate }} </p>
                </div>
                
                <div class="col-md-12 col-sm-4 item social">
                    <a href="https://www.youtube.com/channel/UCVTIubX1hqZ-MqbU6Dui7iA" target="_blank" rel="external"><i class="icon ion-social-youtube"></i></a>
                    <a href="https://www.facebook.com/ProSquashRo/" target="_blank" rel="external"><i class="icon ion-social-facebook"></i></a>
                    <a href="http://www.romanianopensquash.ro" target="_blank" rel="external"><img style="height: 20px;width: 26px" src="assets/img/ros.png"></a>
                </div>
            </div>
            <p class="copyright">© 2017 msg systems Romania <a href="https://www.msg-systems.ro" target="_blank" rel="external" style="margin: 10px;"> www.msg-systems.ro</a> 
                <a href="https://www.facebook.com/msg.systems.romania/" target="_blank" rel="external"><i class="fa fa-facebook-official" style="color: white; margin: 5px;"></i></a>
                <a href="https://twitter.com/msgsystemsro" target="_blank" rel="external"><i class="fa fa-twitter" style="color: white; margin: 5px;"></i></a>
                <a href="https://www.linkedin.com/company/msgsystemsro/" target="_blank" rel="external"><i class="fa fa-linkedin" style="color: white; margin: 5px;"></i></a>
                <a href="https://www.xing.com/companies/msgsystemsromania" target="_blank" rel="external"><i class="fa fa-xing" style="color: white; margin: 5px;"></i></a>
            </p>
        </div>
    </footer>
</div>
<div class="brands">
    <a style="cursor: default;">
        <img style="height: 30px;width: 90px" src="assets/img/logo_msg2.png">
        <img style="height: 70px;width: 70px" src="assets/img/SquashMania logo2.png">
        <img style="height: 40px;width: 76px" src="assets/img/frs_logo.png">
        <img style="height: 60px;width: 115px" src="assets/img/scjlogo.png">
        <img style="height: 50px;width: 80px" src="assets/img/squashtech.png">
        <img style="height: 50px;width: 50px; border-radius: 10px" src="assets/img/sitlogo.jpg">
        <img style="height: 19px;width: 90px;" src="assets/img/GoDigilogo.png">
    </a>
</div>