<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 item">
                    <h3>{{ 'NAVBAR.CONTACT' | translate }}</h3>
                    <ul>
                        <li><em class="fa fa-envelope-o" style="margin: 5px;"></em><a href="mailto:contact@prosquash.ro">contact@prosquash.ro</a></li>
                        <li><em class="fa fa-phone" style="margin: 5px;"></em>+40 (736) 135 135</li>
                    </ul>
                </div>
                <div class="col-md-8 item text">
                    <h3>{{ 'FOOTER.TITLE' | translate }} </h3>
                    <p class="text-justify" >{{ 'FOOTER.PROSQUASH' | translate }} </p>
                </div>
                
                <div class="col-md-12 col-sm-4 item social">
                    <a href="https://www.facebook.com/prosquashcluj/" target="_blank" rel="external"><i class="icon ion-social-facebook"></i></a>
                    <a href="https://www.youtube.com/channel/UCVTIubX1hqZ-MqbU6Dui7iA" target="_blank" rel="external"><i class="icon ion-social-youtube"></i></a>
                </div>
            </div>
            <p class="copyright">msg systems © 2017 <a href="https://www.msg.group/en/" target="_blank" rel="external"> www.msg.group</a></p>
        </div>
    </footer>
</div>
<div class="brands">
    <a href="#" style="cursor: default;" >
        <img src="assets/img/logo_msg.png">
        <img src="assets/img/SquashMania logo.png">
        <img src="assets/img/logo_frs.jpg">
        <img src="assets/img/logo_squashclub.png">
        <img src="assets/img/logo_squashtech.png">
        <img src="assets/img/logo_squashit.jpeg" style="border-radius:5px">
    </a>
</div>