.dqv-range{padding:2px 0}.dqv-range.vol{width:50px}.dqv-range.dur{padding:0 .5em;}#dqv .material-icons,#dqv input[type=range].dqv-range{cursor:pointer}#dqv .controls{display:flex;flex-direction:row;justify-content:space-between;align-items:center;height:200px;padding-left:0}#dqv .controls:first-child{padding-left:15px}@media (max-height:666px){#dqv .controls{padding-left:15px}}#dqv .vids{max-height:max-content;overflow:hidden}
.dqv {
    height: 600px;
}
.center {
    margin-left: auto;
    margin-right: auto;
}