<div class="article-list">
    <div class="container container-fluid">
        <div class="intro">
            <h2 class="text-center">
                {{ 'CLUBS.BURN' | translate }}
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <p class="text-justify">
                    {{ 'CLUBS.BURNTEXT1' | translate }}
                </p>
            </div>
            <div class="col-md-6 col-sm-6">
                <p class="text-justify">
                    {{ 'CLUBS.BURNTEXT2' | translate }}
                </p>
            </div>
        </div>
        <div class="row articles" style="background-size:contain;">
            <div class="col-md-4 col-sm-6 item col-sm-6">
                <a href="#" style="background-position:center;"><img class="img-responsive" src="assets/img/squash_clubcluj.jpg" style="height:239px;background-position:center;border-radius:1px;margin: auto;border:3px solid rgb(238,244,247)"></a>
                <h3 class="name">{{ 'CLUBS.SCCJ.TITLE' | translate }}</h3>
                <p class="description text-justify" >{{ 'CLUBS.SCCJ.DESCRIPTION' | translate }}</p>
                <iframe allowfullscreen="" frameborder="0"
                width="100%" height="400" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyApXY4hWHDebTDtCjlN-tYO8oRhH9kjqEc&amp;q=Squash+Club+Cluj&amp;zoom=14" style="padding:18px;height:350px;"></iframe>
                <div style="margin:5px 15px;">
                    <h6 class="text-center"><strong >{{ 'CLUBS.HOMEPAGE' | translate }}</strong> <a href="http://www.squashcluj.ro" target="_blank" rel="external" style="text-decoration: underline;">www.squashcluj.ro</a></h6>
                    <h6 class="text-center"><strong >{{ 'CLUBS.RESERVATIONS' | translate }}</strong> +40 (758) 337 373</h6></div>
            </div>
            <div class="col-md-4 col-sm-6 item col-sm-6">
                <a href="#" style="background-position:center;"><img class="img-responsive" src="assets/img/squashtech.jpeg" style="height:239px;background-position:center;background-color:inherit;border-radius:1px;margin: auto;border:3px solid rgb(238,244,247)"></a>
                <h3 class="name">{{ 'CLUBS.ST.TITLE' | translate }}</h3>
                <p class="description text-justify">{{ 'CLUBS.ST.DESCRIPTION' | translate }}</p>
                <iframe allowfullscreen=""
                frameborder="0" width="100%" height="400" src="https://www.google.com/maps/embed/v1/search?key=AIzaSyApXY4hWHDebTDtCjlN-tYO8oRhH9kjqEc&amp;q=SquashTech&amp;zoom=14" style="padding:18px;height:350px;border-radius:5px;"></iframe>
                <div style="margin:5px 15px;">
                    <h6 class="text-center"><strong>{{ 'CLUBS.HOMEPAGE' | translate }}</strong> <a style="text-decoration: underline;" href="http://www.squashtech.ro" target="_blank" rel="external">www.squashtech.ro</a></h6>
                    <h6 class="text-center"><strong>{{ 'CLUBS.RESERVATIONS' | translate }}</strong> +40 (770) 971 099</h6></div>
            </div>
            <div class="col-md-4 col-sm-6 hidden-sm item">
                <a href="#" style="background-position:center;"><img class="img-responsive" src="assets/img/squash_it.jpg" style="height:239px;background-position:center;border-radius:1px;margin: auto;border:3px solid rgb(238,244,247)"></a>
                <h3 class="name">{{ 'CLUBS.SIT.TITLE' | translate }}</h3>
                <p class="description text-justify">{{ 'CLUBS.SIT.DESCRIPTION' | translate }}</p>
                <iframe allowfullscreen=""
                frameborder="0" width="100%" height="400" src="https://www.google.com/maps/embed/v1/search?key=AIzaSyApXY4hWHDebTDtCjlN-tYO8oRhH9kjqEc&amp;q=SquashIT&amp;zoom=14" style="padding:18px;height:350px;border-radius:5px;"></iframe>
                <div style="margin:5px 15px;">
                    <h6 class="text-center"><strong >{{ 'CLUBS.RESERVATIONS' | translate }}</strong> +40 (746) 351 911</h6></div>
            </div>
        </div>
        <div class="row hidden-xs hidden-md hidden-lg articles" style="background-size:auto;">
            <div class="col-md-4 col-sm-6 col-sm-push-3 hidden-xs hidden-md hidden-lg item" style="padding:0px 15px 0px;">
                <a href="#" style="background-position:center;"><img class="img-responsive" src="assets/img/squash_it.jpg" style="height:239px;background-position:center;border-radius:1px;margin: auto;border:4px solid rgb(238,244,247)"></a>
                <h3 class="name">{{ 'CLUBS.SIT.TITLE' | translate }}</h3>
                <p class="description text-justify">{{ 'CLUBS.SIT.DESCRIPTION' | translate }}</p>
                <iframe allowfullscreen=""
                frameborder="0" width="100%" height="400" src="https://www.google.com/maps/embed/v1/search?key=AIzaSyApXY4hWHDebTDtCjlN-tYO8oRhH9kjqEc&amp;q=SquashIT&amp;zoom=14" style="padding:18px;height:350px;border-radius:5px;"></iframe>
                <div style="margin:5px 15px;">
                    <h6 class="text-center"><strong >{{ 'CLUBS.RESERVATIONS' | translate }}</strong> +40 (746) 351 911</h6></div>
            </div>
        </div>
    </div>
</div>