<div class="article-list">
    <div class="container container-fluid">
        <div class="intro">
            <h2 class="text-center" style="color:rgba(30, 21, 54, 0.93);">
                {{ 'CLUBS.BURN' | translate }}
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <p class="text-justify" style="padding: 10px 10px 10px 10px;">
                    {{ 'CLUBS.BURNTEXT1' | translate }}
                </p>
            </div>
            <div class="col-md-6 col-sm-6">
                <p class="text-justify" style="padding: 10px 10px 10px 10px;">
                    {{ 'CLUBS.BURNTEXT2' | translate }}
                </p>
            </div>
        </div>
        <div class="row articles" style="background-size:contain;">
            <div class="col-md-4 col-sm-6 item col-sm-6">
                <a href="http://www.squashcluj.ro" target="_blank" rel="external" style="background-position:center;"><img class="img-responsive" src="assets/img/squash_clubcluj.jpg" style=" box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:200px;background-position:center;border-radius:2px;margin: auto;border:1px solid rgba(30, 21, 54, 0.7)"></a>
                <h3 class="name" style="color:rgba(30, 21, 54, 0.93);">{{ 'CLUBS.SCCJ.TITLE' | translate }} <a href="https://www.facebook.com/Squash.Club.Cluj.Napoca/" target="_blank" rel="external"><i class="fa fa-facebook-official"></i></a></h3>
                <p class="description text-justify" >{{ 'CLUBS.SCCJ.DESCRIPTION' | translate }}</p>
                <iframe allowfullscreen="" frameborder="0"
                width="100%" height="200" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyApXY4hWHDebTDtCjlN-tYO8oRhH9kjqEc&amp;q=Squash+Club+Cluj,Cluj-Napoca+Romania" style="padding:18px;height:350px;"></iframe>
                <div style="margin:5px 15px;">
                    <h6 class="text-center"><strong >{{ 'CLUBS.HOMEPAGE' | translate }}</strong> <a href="http://www.squashcluj.ro" target="_blank" rel="external" style="text-decoration: underline;">www.squashcluj.ro</a></h6>
                    <h6 class="text-center"><strong >{{ 'CLUBS.RESERVATIONS' | translate }}</strong> +40 (758) 337 373</h6></div>
            </div>
            <div class="col-md-4 col-sm-6 item col-sm-6">
                <a href="http://www.squashtech.ro" target="_blank" rel="external" style="background-position:center;"><img class="img-responsive" src="assets/img/squash-6.jpg"  style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  height:200px;background-position:center;background-color:inherit;border-radius:2px;margin: auto;border:1px solid rgba(30, 21, 54, 0.7)"></a>
                <h3 class="name" style="color:rgba(30, 21, 54, 0.93);">{{ 'CLUBS.ST.TITLE' | translate }} <a href="https://www.facebook.com/SquashTech/" target="_blank" rel="external"><i class="fa fa-facebook-official"></i></a></h3>
                <p class="description text-justify">{{ 'CLUBS.ST.DESCRIPTION' | translate }}</p>
                <iframe allowfullscreen=""
                frameborder="0" width="100%" height="200" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyApXY4hWHDebTDtCjlN-tYO8oRhH9kjqEc&amp;q=SquashTech,Cluj-Napoca+Romania" style="padding:18px;height:350px;border-radius:5px;"></iframe>
                <div style="margin:5px 15px;">
                    <h6 class="text-center"><strong>{{ 'CLUBS.HOMEPAGE' | translate }}</strong> <a style="text-decoration: underline;" href="http://www.squashtech.ro" target="_blank" rel="external">www.squashtech.ro</a></h6>
                    <h6 class="text-center"><strong>{{ 'CLUBS.RESERVATIONS' | translate }}</strong> +40 (770) 971 099</h6></div>
            </div>
            <div class="col-md-4 col-sm-6 hidden-sm item">
                <a href="https://www.facebook.com/squashitcluj/" target="_blank" rel="external" style="background-position:center;"><img class="img-responsive" src="assets/img/squash-6.jpg" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); height:200px;background-position:center;border-radius:2px;margin: auto;border:1px solid rgba(30, 21, 54, 0.7)"></a>
                <h3 class="name" style="color:rgba(30, 21, 54, 0.93);">{{ 'CLUBS.SIT.TITLE' | translate }} <a href="https://www.facebook.com/squashitcluj/" target="_blank" rel="external"><i class="fa fa-facebook-official"></i></a></h3>
                <p class="description text-justify">{{ 'CLUBS.SIT.DESCRIPTION' | translate }}</p>
                <iframe allowfullscreen=""
                frameborder="0" width="100%" height="200" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyApXY4hWHDebTDtCjlN-tYO8oRhH9kjqEc&amp;q=SquashIT,Cluj-Napoca+Romania" style="padding:18px;height:350px;border-radius:5px;"></iframe>
                <div style="margin:5px 15px;">
                    <h6 class="text-center"><strong >{{ 'CLUBS.RESERVATIONS' | translate }}</strong> +40 (746) 351 911</h6></div>
            </div>
        </div>
        <div class="row hidden-xs hidden-md hidden-lg articles" style="background-size:auto;">
            <div class="col-md-4 col-sm-6 col-sm-push-3 hidden-xs hidden-md hidden-lg item" style="padding:0px 15px 0px;">
                <a href="https://www.facebook.com/squashitcluj/" target="_blank" rel="external" style="background-position:center;"><img class="img-responsive" src="assets/img/squash-6.jpg" style=" box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:200px;background-position:center;border-radius:2px;margin: auto;border:1px solid rgba(30, 21, 54, 0.7)"></a>
                <h3 class="name" style="color:rgba(30, 21, 54, 0.93);">{{ 'CLUBS.SIT.TITLE' | translate }} <a href="https://www.facebook.com/squashitcluj/" target="_blank" rel="external"><i class="fa fa-facebook-official"></i></a></h3>
                <p class="description text-justify">{{ 'CLUBS.SIT.DESCRIPTION' | translate }}</p>
                <iframe allowfullscreen=""
                frameborder="0" width="100%" height="200" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyApXY4hWHDebTDtCjlN-tYO8oRhH9kjqEc&amp;q=SquashIT,Cluj-Napoca+Romania" style="padding:18px;height:350px;border-radius:5px;"></iframe>
                <div style="margin:5px 15px;">
                    <h6 class="text-center"><strong >{{ 'CLUBS.RESERVATIONS' | translate }}</strong> +40 (746) 351 911</h6></div>
            </div>
        </div>
    </div>
</div>