<div data-aos="fade-left" class="article-list">
    <div class="container container-fluid">
        <div class="intro">
            <h2 class="text-center" i18n="clubs_title|clubs_burn_those_calories@@clubs_burncalories">Burn those calories</h2>
            <p class="text-justify" i18n="clubs_description|clubs_general_description@@clubs_description">A variety of professional and custom made courts await you and your friends. Heavy sweating, good mood and good night sleep afterwards is guaranteed.</p>
        </div>
        <div class="row articles" style="background-size:contain;">
            <div class="col-md-4 col-sm-6 item col-sm-6">
                <a href="#" style="background-position:center;"><img class="img-thumbnail img-responsive" src="assets/img/pink_floyd_triangle_space_planet_colors_3723_1024x600.jpg" style="height:239px;background-position:center;"></a>
                <h3 class="name">Squash Club Cluj Napoca</h3>
                <p class="description text-justify" i18n="clubs_scc_description|clubs_scc_description@@clubs_sccdescription">The club was founded in 2011 and has 4 professional courts. Monthly, local tournaments are organized for beginner and advanced players. The club will be also home for several national competitions.</p>
                <iframe allowfullscreen="" frameborder="0"
                width="100%" height="400" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBSxISzny2O4CDJmI-fpLplrKmqbzjWxaI&amp;q=Squash+Club+Cluj&amp;zoom=14" style="padding:18px;height:350px;"></iframe>
                <div style="margin:5px 15px;">
                    <h6 class="text-center"><strong i18n="clubs_scc_homepage|clubs_scc_homepage@@clubs_scchomepage">Home page:</strong> <a href="http://www.squashcluj.ro" target="_blank" rel="external" style="text-decoration: underline;">www.squashcluj.ro</a></h6>
                    <h6 class="text-center"><strong i18n="clubs_scc_reservations|clubs_scc_reservations@@clubs_sccreservations">Reservations:</strong> +40757664556</h6></div>
            </div>
            <div class="col-md-4 col-sm-6 item col-sm-6">
                <a href="#" style="background-position:center;"><img class="img-thumbnail img-responsive" src="assets/img/TkOUMc.jpg" style="height:239px;background-position:center;"></a>
                <h3 class="name">SquashTech</h3>
                <p class="description text-justify" i18n="clubs_st_description|clubs_st_description@@clubs_stdescription">You can still smell the fresh parquet. The club opened in May 2017. Two professional courts are waiting you. Weekly local competitions are organized and the opening tournament of the 2017/2018 season.</p>
                <iframe allowfullscreen=""
                frameborder="0" width="100%" height="400" src="https://www.google.com/maps/embed/v1/search?key=AIzaSyBSxISzny2O4CDJmI-fpLplrKmqbzjWxaI&amp;q=SquashTech&amp;zoom=14" style="padding:18px;height:350px;"></iframe>
                <div style="margin:5px 15px;">
                    <h6 class="text-center"><strong i18n="clubs_st_homepage|clubs_st_homepage@@clubs_sthomepage">Home page:</strong> <a style="text-decoration: underline;" href="http://www.squashtech.ro" target="_blank" rel="external">www.squashtech.ro</a></h6>
                    <h6 class="text-center"><strong i18n="clubs_st_reservations|clubs_st_reservations@@clubs_streservations">Reservations:</strong> +40757735998</h6></div>
            </div>
            <div class="col-md-4 col-sm-6 hidden-sm item">
                <a href="#" style="background-position:center;"><img class="img-thumbnail img-responsive" src="assets/img/cat_face_glasses_thick_65455_1024x600.jpg" style="height:239px;background-position:center;"></a>
                <h3 class="name">Squash IT</h3>
                <p class="description text-justify" i18n="clubs_sit_description|clubs_sit_description@@clubs_sitdescription">The club opened its doors in 2015 and hosted several matches of the Romanian Open Squash that year. Three custom made courts are available for the clients. As usual, water and rackets are provided for free.</p>
                <iframe allowfullscreen=""
                frameborder="0" width="100%" height="400" src="https://www.google.com/maps/embed/v1/search?key=AIzaSyBSxISzny2O4CDJmI-fpLplrKmqbzjWxaI&amp;q=SquashIT&amp;zoom=14" style="padding:18px;height:350px;"></iframe>
                <div style="margin:5px 15px;">
                    <h6 class="text-center"><strong i18n="clubs_sit_reservations|clubs_sit_reservations@@clubs_sitreservations">Reservations:</strong> +40757664556</h6></div>
            </div>
        </div>
        <div class="row hidden-xs hidden-md hidden-lg articles" style="background-size:auto;">
            <div class="col-md-4 col-sm-6 col-sm-push-3 hidden-xs hidden-md hidden-lg item" style="padding:0px 15px 0px;">
                <a href="#" style="background-position:center;"><img class="img-thumbnail img-responsive" src="assets/img/cat_face_glasses_thick_65455_1024x600.jpg" style="height:239px;background-position:center;"></a>
                <h3 class="name">Squash IT</h3>
                <p class="description text-justify" i18n="clubs_sit_description|clubs_sit_description@@clubs_sitdescription">The club opened its doors in 2015 and hosted several matches of the Romanian Open Squash that year. Three custom made courts are available for the clients. As usual, water and rackets are provided for free.</p>
                <iframe allowfullscreen=""
                frameborder="0" width="100%" height="400" src="https://www.google.com/maps/embed/v1/search?key=AIzaSyBSxISzny2O4CDJmI-fpLplrKmqbzjWxaI&amp;q=SquashIT&amp;zoom=14" style="padding:18px;height:350px;"></iframe>
                <div style="margin:5px 15px;">
                    <h6 class="text-center"><strong i18n="clubs_sit_reservations|clubs_sit_reservations@@clubs_sitreservations">Reservations:</strong> +40757664556</h6></div>
            </div>
        </div>
    </div>
</div>