<div data-aos="fade-left" class="features-boxed">
    <div class="container">
        <div class="intro">
            <h2 class="text-center" i18n="comingsoon_title|comingsoon_title@@comingsoon_title">Future projects for the community</h2>
            <p class="text-justify" i18n="comingsoon_description|comingsoon_description@@comingsoon_description"> Paul Ford is the co-founder of Postlight, a digital product studio in New York City with clients that include Vice Media, Goldman Sachs. New Website for the whole community with features like</p>
        </div>
        <div class="row features">
            <div class="col-md-4 col-sm-6 item">
                <div class="box"><i class="glyphicon glyphicon-map-marker icon"></i>
                    <h3 class="name" i18n="comingsoon_feature_lr|comingsoon_feature_localranking@@comingsoon_feature_lr">Local Rankings </h3>
                    <p class="description text-justify" i18n="comingsoon_feature_lr_desc|comingsoon_feature_localrankingdesc@@comingsoon_feature_lrdesc">Attachment apartments in delightful by motionless it no. And now she burst sir learn total. </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 item">
                <div class="box"><i class="glyphicon glyphicon-time icon"></i>
                    <h3 class="name" i18n="comingsoon_feature_ec|comingsoon_feature_eventcalendar@@comingsoon_feature_ec">Event Calendar</h3>
                    <p class="description text-justify" i18n="comingsoon_feature_ec_desc|comingsoon_feature_eventcalendardaesc@@comingsoon_feature_ecdesc">Solicitude uncommonly use her motionless not collecting age. The required mistaken outlived bed and. </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 item">
                <div class="box"><i class="glyphicon glyphicon-list-alt icon"></i>
                    <h3 class="name" i18n="comingsoon_feature_n|comingsoon_feature_news@@comingsoon_feature_n">News </h3>
                    <p class="description text-justify" i18n="comingsoon_feature_n_desc|comingsoon_feature_newsdesc@@comingsoon_feature_ndesc">Behaviour we improving at something to. Evil true high lady roof men had open. To projection considered it.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 item">
                <div class="box"><i class="glyphicon glyphicon-leaf icon"></i>
                    <h3 class="name" i18n="comingsoon_feature_pp|comingsoon_feature_playerprofile@@comingsoon_feature_pp">Player Profiles </h3>
                    <p class="description text-justify" i18n="comingsoon_feature_pp_desc|comingsoon_feature_playerprofiledesc@@comingsoon_feature_ppdesc">Required his you put the outlived answered position. An pleasure exertion if believed provided to.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 item">
                <div class="box"><i class="glyphicon glyphicon-plane icon"></i>
                    <h3 class="name" i18n="comingsoon_feature_er|comingsoon_feature_eventregister@@comingsoon_feature_er">Event Registrations</h3>
                    <p class="description text-justify" i18n="comingsoon_feature_er_desc|comingsoon_feature_eventregisterdesc@@comingsoon_feature_erdesc">Fulfilled direction use continual set him propriety continued. Saw met applauded engrossed concealed and her. </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 item">
                <div class="box"><i class="glyphicon glyphicon-phone icon"></i>
                    <h3 class="name" i18n="comingsoon_feature_c|comingsoon_feature_coaching@@comingsoon_feature_c">Coaching</h3>
                    <p class="description text-justify" i18n="comingsoon_feature_c_desc|comingsoon_feature_coachingdesc@@comingsoon_feature_cdesc">Forfeited up if disposing perfectly in an eagerness perceived necessary. Belonging sir curiosity discovery own off.&nbsp; </p>
                </div>
            </div>
        </div>
    </div>
</div>