<div data-aos="fade-left" class="features-boxed">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">{{ 'FUTURE.TITLE' | translate }}</h2>
            <p class="text-justify">{{ 'FUTURE.DESCRIPTION' | translate }}</p>
        </div>
        <div class="row features">
            <div class="col-md-4 col-sm-6 item">
                <div class="box"><i class="glyphicon glyphicon-map-marker icon"></i>
                    <h3 class="name">{{ 'FUTURE.RANKINGS.TITLE' | translate }}</h3>
                    <p class="description text-justify">{{ 'FUTURE.RANKINGS.DESCRIPTION' | translate }}</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 item">
                <div class="box"><i class="glyphicon glyphicon-time icon"></i>
                    <h3 class="name">{{ 'FUTURE.EVENTCALENDAR.TITLE' | translate }}</h3>
                    <p class="description text-justify">{{ 'FUTURE.EVENTCALENDAR.DESCRIPTION' | translate }}</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 item">
                <div class="box"><i class="glyphicon glyphicon-list-alt icon"></i>
                    <h3 class="name">{{ 'FUTURE.NEWS.TITLE' | translate }}</h3>
                    <p class="description text-justify">{{ 'FUTURE.NEWS.DESCRIPTION' | translate }}</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 item">
                <div class="box"><i class="glyphicon glyphicon-leaf icon"></i>
                    <h3 class="name">{{ 'FUTURE.PROFILES.TITLE' | translate }}</h3>
                    <p class="description text-justify">{{ 'FUTURE.PROFILES.DESCRIPTION' | translate }}</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 item">
                <div class="box"><i class="glyphicon glyphicon-plane icon"></i>
                    <h3 class="name">{{ 'FUTURE.EVENTREGISTRATION.TITLE' | translate }}</h3>
                    <p class="description text-justify">{{ 'FUTURE.EVENTREGISTRATION.DESCRIPTION' | translate }}</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 item">
                <div class="box"><i class="glyphicon glyphicon-phone icon"></i>
                    <h3 class="name">{{ 'FUTURE.COACHING.TITLE' | translate }}</h3>
                    <p class="description text-justify">{{ 'FUTURE.COACHING.DESCRIPTION' | translate }}</p>
                </div>
            </div>
        </div>
    </div>
</div>