<div data-aos="fade-right" data-aos-once="true" class="col-md-3 col-sm-6 item">
  <img class="img-circle" style="border:2px solid rgba(30, 21, 54, 0.93); box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)" src="{{ coach.photo }}">
  <h3 class="name">{{ coach.name | translate }}</h3> 
  <p class="title">{{ coach.title | translate }} 
      <a *ngIf="coach.social.facebook" href="{{ coach.social.facebook }}" target="_blank" rel="external"><i class="fa fa-facebook-official"></i></a>
      <a *ngIf="coach.social.twitter" href="{{coach.social.twitter}}" target="_blank" rel="external"><i class="fa fa-twitter"></i></a> 
      <a *ngIf="coach.social.instagram" href="{{coach.social.instagram}}" target="_blank" rel="external"><i class="fa fa-instagram"></i></a></p>
  <p class="description text-justify">{{ coach.description | translate }}</p>
</div>
