<div data-aos="fade-left" class="highlight-clean" style="padding:21px 0px;">
    <div class="container">
        <div>
            <h4 class="text-center text-center" style="font-family:'Open Sans', sans-serif;padding:5px;margin:0px 0px 0px;"><em>“The difference between the impossible and the possible lies in a person’s determination.</em>”</h4>
            <h5 class="text-right" style="font-family:'Open Sans', sans-serif;padding:2px;margin:10px 90px 10px;"><strong><em>Tommy Lasorda</em></strong> </h5></div>
    </div>
    <div class="container" style="background-position:80% 7%;background-size:10%;background-repeat:no-repeat;">
        <div class="intro">
            <h2 class="text-center" style="padding:1px;"><strong>SQUASH</strong></h2>
            <p class="text-center" style="padding:9px;background-position:center;background-size:auto;background-repeat:no-repeat;">Health, hobby or performance? Over 20,000,000 players play it world-wide. In one hour you have fun, burn lots of calories, have a great workout. It has been voted the world's healthiest sport. Get yourself warmed up and start moving! </p>
        </div>
        <div class="buttons"><a class="btn btn-primary" role="button" href="#">More </a>
            <button class="btn btn-default" type="button">Videos </button>
        </div>
    </div>
</div>