<div data-aos="fade-up" class="highlight-clean" style="padding:21px 0px;">
    <div class="features-clean">
        <div class="container">
            <div class="row features" style="padding:10px 0px 30px 0px">
                <div class="col-md-12 col-sm-12 item">
                    <div class="container-fluid" style="background-position:80% 7%;background-size:10%;background-repeat:no-repeat;">
                        <div class="intro">
                            <h2 class="text-center" style="padding:1px;color:rgba(30, 21, 54, 0.93);"><strong>{{ 'SQUASH.SQUASH' | translate }}</strong></h2>
                            <p class="text-center" style="padding:9px;background-position:center;background-size:auto;background-repeat:no-repeat;">{{ 'SQUASH.DESCRIPTION' | translate }}</p>
                        </div>
                        <div class="buttons"><a class="btn btn-primary" role="button" href="https://en.wikipedia.org/wiki/Squash_(sport)" target="_blank"
                                >{{ 'SQUASH.MORE' | translate }}</a>
                            <a class="btn btn-default" type="button" href="https://www.youtube.com/user/psasquashtv" target="_blank">{{ 'SQUASH.VIDEOS' | translate }} </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>