<div class="highlight-clean" style="padding:21px 0px;">
    <div class="features-clean">
        <div class="container">
            <div class="row features" style="padding:10px 0px 30px 0px">
                <div class="col-md-12 col-sm-12 item">
                        <div class="container-fluid" style="background-position:80% 7%;background-size:10%;background-repeat:no-repeat;">
                                <div class="intro">
                                    <h2 class="text-center" style="padding:1px;"><strong>SQUASH</strong></h2>
                                    <p class="text-justify" style="padding:9px;background-position:center;background-size:auto;background-repeat:no-repeat;">Health, hobby or performance? Over 20,000,000 players play it world-wide. In one hour you have fun, burn lots of calories, have a great workout. It has been voted the world's healthiest sport. Get yourself warmed up and start moving! </p>
                                </div>
                                <div class="buttons"><a class="btn btn-primary" role="button" href="https://en.wikipedia.org/wiki/Squash_(sport)" target="_blank">More </a>
                                    <a class="btn btn-default" type="button" href="https://www.youtube.com/user/psasquashtv" target="_blank">Videos </a>
                                </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>