<div data-aos="fade-right" data-aos-once="true" *ngIf="profileNumber === 3">
  <div class="col-md-4 col-sm-4 item">
      <a style="background-position:center;"><img class="img-responsive" src="{{ profileSrc }}" style="height:280px;background-position:center;border-radius:2px; margin: auto;"></a>
  </div>
</div>

<div data-aos="fade-right" data-aos-once="true" *ngIf="profileNumber === 2">
  <div class="col-md-6 col-sm-4 item">
    <a style="background-position:center;"><img class="img-responsive" src="{{ profileSrc }}" style="height:280px;background-position:center;border-radius:2px;margin: auto;"></a>
  </div>
</div>

<div data-aos="fade-right" data-aos-once="true" *ngIf="profileNumber === 1">
  <div class="col-md-12 col-sm-4 item">
      <a style="background-position:center;"><img class="img-responsive" src="{{ profileSrc }}" style="height:280px;background-position:center;border-radius:2px;margin: auto;"></a>
  </div>
</div>
