<div data-aos="fade-right" data-aos-once="true" *ngIf="profileNumber === 3">
  <div class="col-md-4 col-sm-4 item">
      <a style="background-position:center;"><img class="img-responsive" src="{{ profileSrc }}" style="height:280px;background-position:center; margin: auto; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)"></a>
  </div>
</div>

<div data-aos="fade-right" data-aos-once="true" *ngIf="profileNumber === 2">
  <div class="col-md-6 col-sm-4 item">
    <a style="background-position:center;"><img class="img-responsive" src="{{ profileSrc }}" style="height:280px;background-position:center;margin: auto; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)"></a>
  </div>
</div>

<div data-aos="fade-right" data-aos-once="true" *ngIf="profileNumber === 1">
  <div class="col-md-12 col-sm-4 item">
      <a style="background-position:center;"><img class="img-responsive" src="{{ profileSrc }}" style="height:280px;background-position:center;margin: auto; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)"></a>
  </div>
</div>
