<div data-aos="fade-left" class="team-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center" style="padding:0px;">{{ 'COACHES.TITLE' | translate }}</h2>
            <p class="text-justify">{{ 'COACHES.DESCRIPTION' | translate }}</p>
        </div>
        <div class="row people">
            <div class="col-md-3 col-sm-6 item"><img class="img-circle" src="assets/img/10.jpeg">
                <h3 class="name">{{ 'COACHES.MIKI.NAME' | translate }}</h3>
                <p class="title">{{ 'COACHES.MIKI.TITLE' | translate }}</p>
                <p class="description text-justify" >{{ 'COACHES.MIKI.DESCRIPTION' | translate }}</p>
                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            </div>
            <div class="col-md-3 col-sm-6 item"><img class="img-circle" src="assets/img/2.jpg">
                <h3 class="name">{{ 'COACHES.SIMI.NAME' | translate }}</h3>
                <p class="title">{{ 'COACHES.SIMI.TITLE' | translate }}</p>
                <p class="description text-justify">{{ 'COACHES.SIMI.DESCRIPTION' | translate }}</p>
                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            </div>
            <div class="col-md-3 col-sm-6 item"><img class="img-circle" src="assets/img/4.jpeg">
                <h3 class="name">{{ 'COACHES.MANU.NAME' | translate }}</h3>
                <p class="title">{{ 'COACHES.MANU.TITLE' | translate }} </p>
                <p class="description text-justify">{{ 'COACHES.MANU.DESCRIPTION' | translate }}</p>
                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            </div>
            <div class="col-md-3 col-sm-6 item"><img class="img-circle" src="assets/img/6.jpeg">
                <h3 class="name">{{ 'COACHES.CALIN.NAME' | translate }}</h3>
                <p class="title">{{ 'COACHES.CALIN.TITLE' | translate }}</p>
                <p class="description text-justify">{{ 'COACHES.CALIN.DESCRIPTION' | translate }}</p>
                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            </div>
        </div>
        <div class="row people">
            <div class="col-md-3 col-sm-6 item"><img class="img-circle" src="assets/img/3.jpeg">
                <h3 class="name">{{ 'COACHES.LACI.NAME' | translate }}</h3>
                <p class="title">{{ 'COACHES.LACI.TITLE' | translate }}</p>
                <p class="description text-justify">{{ 'COACHES.LACI.DESCRIPTION' | translate }}</p>
                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            </div>
            <div class="col-md-3 col-sm-6 item"><img class="img-circle" src="assets/img/1.jpeg">
                <h3 class="name">{{ 'COACHES.VALI.NAME' | translate }}</h3>
                <p class="title">{{ 'COACHES.VALI.TITLE' | translate }}</p>
                <p class="description text-justify">{{ 'COACHES.VALI.DESCRIPTION' | translate }}</p>
                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            </div>
            <div class="col-md-3 col-sm-6 item"><img class="img-circle" src="assets/img/4.jpeg">
                <h3 class="name">{{ 'COACHES.BARBU.NAME' | translate }}</h3>
                <p class="title">{{ 'COACHES.BARBU.TITLE' | translate }}</p>
                <p class="description text-justify">{{ 'COACHES.BARBU.DESCRIPTION' | translate }}</p>
                <div class="social"><a href="https://www.facebook.com/barbu.campean"><i class="fa fa-facebook-official"></i></a></div>
            </div>
            <div class="col-md-3 col-sm-6 item"><img class="img-circle" src="assets/img/4.jpeg">
                <h3 class="name">{{ 'COACHES.LAJOS.NAME' | translate }}</h3>
                <p class="title">{{ 'COACHES.LAJOS.TITLE' | translate }}</p>
                <p class="description text-justify">{{ 'COACHES.LAJOS.DESCRIPTION' | translate }}</p>
                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            </div>
        </div>
    </div>
</div>