<div class="team-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center" style="padding:0px;color:rgba(30, 21, 54, 0.93);">{{ 'COACHES.TITLE' | translate }}</h2>
            <p class="text-center">{{ 'COACHES.DESCRIPTION' | translate }}</p>
        </div>
        <div class="row people">
            <div class="col-md-3 col-sm-6 item"><img class="img-circle" style="border:2px solid rgba(30, 21, 54, 0.93)" src="assets/img/micky_profile.jpg">
                <h3 class="name">{{ 'COACHES.MIKI.NAME' | translate }}</h3>
                <p class="title">{{ 'COACHES.MIKI.TITLE' | translate }}   <a href="https://www.facebook.com/micky.puskas" target="_blank" rel="external"><i class="fa fa-facebook-official"></i></a></p>
                <p class="description text-justify" >{{ 'COACHES.MIKI.DESCRIPTION' | translate }}</p>
            </div>
            <div class="col-md-3 col-sm-6 item"><img class="img-circle" style="border:2px solid rgba(30, 21, 54, 0.93)" src="assets/img/simi_profile.jpg">
                <h3 class="name">{{ 'COACHES.SIMI.NAME' | translate }}</h3>
                <p class="title">{{ 'COACHES.SIMI.TITLE' | translate }} <a href="https://www.facebook.com/profile.php?id=100008258236295" target="_blank" rel="external"><i class="fa fa-facebook-official"></i></a></p>
                <p class="description text-justify">{{ 'COACHES.SIMI.DESCRIPTION' | translate }}</p>
            </div>
            <div class="col-md-3 col-sm-6 item"><img class="img-circle" style="border:2px solid rgba(30, 21, 54, 0.93)" src="assets/img/manu_profile.jpg">
                <h3 class="name">{{ 'COACHES.MANU.NAME' | translate }}</h3>
                <p class="title">{{ 'COACHES.MANU.TITLE' | translate }} <a href="https://www.facebook.com/marcus.emanuel.12" target="_blank" rel="external"><i class="fa fa-facebook-official"></i></a></p>
                <p class="description text-justify">{{ 'COACHES.MANU.DESCRIPTION' | translate }}</p>
            </div>
            <div class="col-md-3 col-sm-6 item"><img class="img-circle" style="border:2px solid rgba(30, 21, 54, 0.93)" src="assets/img/calin_profile.jpg">
                <h3 class="name">{{ 'COACHES.CALIN.NAME' | translate }}</h3> 
                <p class="title">{{ 'COACHES.CALIN.TITLE' | translate }} <a href="https://www.facebook.com/calin.codarcea" target="_blank" rel="external"><i class="fa fa-facebook-official"></i></a> <a href="https://twitter.com/calincodarcea" target="_blank" rel="external"><i class="fa fa-twitter"></i></a> <a href="https://www.instagram.com/calincodarcea/" target="_blank" rel="external"><i class="fa fa-instagram"></i></a></p>
                <p class="description text-justify">{{ 'COACHES.CALIN.DESCRIPTION' | translate }}</p>
            </div>
        </div>
        <div class="row people">
            <div class="col-md-3 col-sm-6 item"><img class="img-circle" style="border:2px solid rgba(30, 21, 54, 0.93)" src="assets/img/laci_profile.jpg">
                <h3 class="name">{{ 'COACHES.LACI.NAME' | translate }}</h3>
                <p class="title">{{ 'COACHES.LACI.TITLE' | translate }} <a href="https://www.facebook.com/profile.php?id=100010499463804" target="_blank" rel="external"><i class="fa fa-facebook-official"></i></a></p>
                <p class="description text-justify">{{ 'COACHES.LACI.DESCRIPTION' | translate }}</p>
            </div>
            <div class="col-md-3 col-sm-6 item"><img class="img-circle" style="border:2px solid rgba(30, 21, 54, 0.93)" src="assets/img/vali_profile.jpg">
                <h3 class="name">{{ 'COACHES.VALI.NAME' | translate }}</h3>
                <p class="title">{{ 'COACHES.VALI.TITLE' | translate }} <a href="https://m.facebook.com/valentin.chindris.9" target="_blank" rel="external"><i class="fa fa-facebook-official"></i></a> <a href="https://www.instagram.com/valentinc95/" target="_blank" rel="external"><i class="fa fa-instagram"></i></a></p>
                <p class="description text-justify">{{ 'COACHES.VALI.DESCRIPTION' | translate }}</p>
            </div>
            <div class="col-md-3 col-sm-6 item"><img class="img-circle" style="border:2px solid rgba(30, 21, 54, 0.93)" src="assets/img/barbu_profile.jpg">
                <h3 class="name">{{ 'COACHES.BARBU.NAME' | translate }}</h3>
                <p class="title">{{ 'COACHES.BARBU.TITLE' | translate }} <a href="https://www.facebook.com/barbu.campean" target="_blank" rel="external"><i class="fa fa-facebook-official"></i></a></p>
                <p class="description text-justify">{{ 'COACHES.BARBU.DESCRIPTION' | translate }}</p>
            </div>
            <div class="col-md-3 col-sm-6 item"><img class="img-circle" style="border:2px solid rgba(30, 21, 54, 0.93)" src="assets/img/lajos_profile.jpg">
                <h3 class="name">{{ 'COACHES.LAJOS.NAME' | translate }}</h3>
                <p class="title">{{ 'COACHES.LAJOS.TITLE' | translate }} <a href="https://www.facebook.com/squashfan.zalau" target="_blank" rel="external"><i class="fa fa-facebook-official"></i></a></p>
                <p class="description text-justify">{{ 'COACHES.LAJOS.DESCRIPTION' | translate }}</p>
            </div>
        </div>
    </div>
</div>