<div data-aos="fade-left" class="team-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center" style="padding:0px;" i18n="coaches_title|coaches_title@@coaches_title">Coaches</h2>
            <p class="text-justify" i18n="coaches_description|coaches_description@@coaches_description">How you respond to the challenge in the second half will determine what you become after the game, whether you are a winner or a loser. </p>
        </div>
        <div class="row people">
            <div class="col-md-4 col-sm-6 item"><img class="img-circle" src="assets/img/10.jpeg">
                <h3 class="name">Coach Man</h3>
                <p class="title" i18n="coaches_mp|coaches_mp@@coaches_mp">WSF Level 1 Squash Coach</p>
                <p class="description text-justify" i18n="coaches_mp_description|coaches_mp_description@@coaches_mp_description">All led out world these music while asked. Paid mind even sons does he door no. Attended overcame repeated it is perceive marianne in. In am think on style child of. Servants moreover in sensible he it ye possible.</p>
                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            </div>
            <div class="col-md-4 col-sm-6 item"><img class="img-circle" src="assets/img/2.jpg">
                <h3 class="name">Simion Lupsan</h3>
                <p class="title" i18n="coaches_sl|coaches_sl@@coaches_sl">WSF Level 1 Squash Coach </p>
                <p class="description text-justify" i18n="coaches_sl_description|coaches_sl_description@@coaches_sl_description">Set lose dear upon had two its what seen. Held she sir how know what such whom. Esteem put uneasy set piqued son depend her others. Two dear held mrs feet view her old fine. Bore can led than how has rank. </p>
                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            </div>
            <div class="col-md-4 col-sm-6 item"><img class="img-circle" src="assets/img/4.jpeg">
                <h3 class="name">Emanuel Marcus</h3>
                <p class="title" i18n="coaches_em|coaches_em@@coaches_em">WSF Level 1 Squash Coach </p>
                <p class="description text-justify" i18n="coaches_em_description|coaches_em_description@@coaches_em_description">Exquisite cordially mr happiness of neglected distrusts. Boisterous impossible unaffected he me everything. Is fine loud deal an rent open give. Find upon and sent spot song son eyes.Do endeavor he differed carriage. </p>
                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            </div>
            <div class="col-md-4 col-sm-6 item"><img class="img-circle" src="assets/img/6.jpeg">
                <h3 class="name">Calin Codarcea</h3>
                <p class="title" i18n="coaches_cc|coaches_cc@@coaches_cc">WSF Level 1 Squash Coach </p>
                <p class="description text-justify" i18n="coaches_cc_description|coaches_cc_description@@coaches_cc_description">Invitation friendship travelling eat everything the out two. Shy you who scarcely expenses debating hastened resolved. Always polite moment on is warmth spirit it to hearts. Downs those still witty an balls so chief so. </p>
                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            </div>
            <div class="col-md-4 col-sm-6 item"><img class="img-circle" src="assets/img/3.jpeg">
                <h3 class="name">Laszlo Feischmidt</h3>
                <p class="title" i18n="coaches_lf|coaches_mp@@coaches_lf">WSF Level 1 Squash Coach </p>
                <p class="description text-justify" i18n="coaches_lf_description|coaches_lf_description@@coaches_lf_description">Rendered her for put improved concerns his. Ladies bed wisdom theirs mrs men months set. Everything so dispatched as it increasing pianoforte. Hearing now saw perhaps minutes herself his. Of instantly excellent. </p>
                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            </div>
            <div class="col-md-4 col-sm-6 item"><img class="img-circle" src="assets/img/1.jpeg">
                <h3 class="name">Valentin Chindris</h3>
                <p class="title" i18n="coaches_vc|coaches_vc@@coaches_vc">WSF Level 1 Squash Coach </p>
                <p class="description text-justify" i18n="coaches_cv_description|coaches_cv_description@@coaches_cv_description">Way devonshire introduced expression saw travelling affronting. Her and effects affixed pretend account ten natural. Need eat week even yet that. Incommode delighted he resolving sportsmen do in listening. </p>
                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            </div>
        </div>
    </div>
</div>