<div data-aos="fade-left" style="background-color:rgb(238,244,247);">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="testimonials-clean">
                    <div class="row people" style="padding: 20px;">
                        <div class="col-md-12 col-sm-12 item" style="padding:20px;margin:0px 0px 32px;">
                            <div class="box">
                                <p class="description text-justify">{{ 'CONTACT.MIRCEA.QUOTE' | translate }}</p>
                            </div>
                            <div class="author"><img class="img-circle" src="assets/img/baba_profile.jpg">
                                <h5 class="name">{{ 'CONTACT.MIRCEA.NAME' | translate }}</h5>
                                <p class="title">{{ 'CONTACT.MIRCEA.TITLE' | translate }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row people" style="padding: 20px;">
                        <div class="col-md-12 col-sm-12 item" style="padding:20px;margin:-80px 0px -20px;">
                            <div class="box">
                                <p class="description text-justify">{{ 'CONTACT.PAUL.QUOTE' | translate }}</p>
                            </div>
                            <div class="author"><img class="img-circle" src="assets/img/paul_profile.jpg">
                                <h5 class="name">{{ 'CONTACT.PAUL.NAME' | translate }}</h5>
                                <p class="title">{{ 'CONTACT.PAUL.TITLE' | translate }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="padding:0px 0px 25px 0px;">
                <div class="contact-clean" style="background-color:rgb(238,244,247); padding:20px;">
                    <form [formGroup]="contactForm">
                        <h2 class="text-center">{{ 'CONTACT.GETINTOUCH' | translate }} </h2>
                        <div class="form-group has-success has-error has-feedback">
                            <input #name formControlName="name" type="text" name="name" class="form-control" placeholder="{{ 'CONTACT.NAME' | translate }}" >
                            <i *ngIf="!contactForm.controls['name'].valid" class="form-control-feedback glyphicon glyphicon-remove" ></i>
                            <i *ngIf="contactForm.controls['name'].valid" class="form-control-feedback glyphicon glyphicon-ok" style="color: green"></i>
                        </div>
                        <div class="form-group has-success has-error has-feedback">
                            <input class="form-control"
                                #email formControlName="email"
                                type="email" name="email" placeholder="{{ 'CONTACT.EMAIL' | translate }} ">
                                <i *ngIf="!contactForm.controls['email'].valid" class="form-control-feedback glyphicon glyphicon-remove" ></i>
                                <i *ngIf="contactForm.controls['email'].valid" class="form-control-feedback glyphicon glyphicon-ok" style="color: green"></i>    
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" 
                            #message formControlName="message"
                            rows="14" name="message" placeholder="{{ 'CONTACT.MESSAGE' | translate }} "></textarea>
                        </div>
                        <div class="form-group">
                            <re-captcha #captchaRef (resolved)="resolved($event)"
                             siteKey="{{ siteKey }}"
                             name="captcha" ></re-captcha>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-lg" type="submit" [disabled]="!contactForm.valid" (click)="submit(contactForm)">
                                    {{ 'CONTACT.SEND' | translate }}  <i *ngIf="spinning" class="fa fa-spinner fa-spin" style="font-size:13px;color:white;"></i></button>
                                     
                        </div>
                        <div class="form-group">
                                <p *ngIf="observ">{{ observ | async }}</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>