<div data-aos="fade-left" style="background-color:rgb(238,244,247);">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="testimonials-clean">
                    <div class="row people" style="padding: 20px;">
                        <div class="col-md-12 col-sm-12 item" style="padding:20px;margin:0px 0px 32px;">
                            <div class="box">
                                <p class="description text-justify" i18n="@@contactus_quote1">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                            </div>
                            <div class="author"><img class="img-circle" src="assets/img/1.jpg">
                                <h5 class="name">Mircea Babă</h5>
                                <p class="title" i18n="@@contactus_title1">CEO of Company Inc.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row people" style="padding: 20px;">
                        <div class="col-md-12 col-sm-12 item" style="padding:20px;margin:-80px 0px -20px;">
                            <div class="box">
                                <p class="description text-justify" i18n="@@contactus_quote2">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                            </div>
                            <div class="author"><img class="img-circle" src="assets/img/10.jpeg">
                                <h5 class="name">Paul Miheț</h5>
                                <p class="title" i18n="@@contactus_title2">CEO of Company Inc.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="padding:0px 0px 25px 0px;">
                <div class="contact-clean" style="background-color:rgb(238,244,247); padding:20px;">
                    <form [formGroup]="contactForm">
                        <h2 class="text-center" i18n="@@contactus_getintouch">Get in touch with us</h2>
                        <div class="form-group has-success has-error has-feedback">
                            <input #name formControlName="name" type="text" name="name" class="form-control" placeholder="Name">
                            <i *ngIf="!contactForm.controls['name'].valid" class="form-control-feedback glyphicon glyphicon-remove" ></i>
                            <i *ngIf="contactForm.controls['name'].valid" class="form-control-feedback glyphicon glyphicon-ok" style="color: green"></i>
                        </div>
                        <div class="form-group has-success has-error has-feedback">
                            <input class="form-control"
                                #email formControlName="email"
                                type="email" name="email" placeholder="Email">
                                <i *ngIf="!contactForm.controls['email'].valid" class="form-control-feedback glyphicon glyphicon-remove" ></i>
                                <i *ngIf="contactForm.controls['email'].valid" class="form-control-feedback glyphicon glyphicon-ok" style="color: green"></i>    
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" 
                            #message formControlName="message"
                            rows="14" name="message" placeholder="Message"></textarea>
                        </div>
                        <div class="form-group">
                            <re-captcha #captchaRef (resolved)="resolved($event)"
                             siteKey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"
                             name="captcha" ></re-captcha>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit" [disabled]="!contactForm.valid" (click)="submit(contactForm)">Send </button>
                        </div>
                        <div class="form-group">
                                <p *ngIf="serverresponse">{{ serverresponse}}</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>