<div class="team-grid" style="padding:-60px 0px 0px 0px">
  <div data-aos="fade-right" class="container">
      <div class="intro">
          <h2 class="text-center">Team </h2>
          <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet.&nbsp; </p>
      </div>
      <div class="row people">
          <div class="col-md-4 col-sm-4 item">
              <a style="background-position:center;"><img class="img-responsive" src="assets/profiles/Andrei_Chindris.png" style="height:280px;background-position:center;border-radius:2px;margin: auto;"></a>
          </div>
          <div class="col-md-4 col-sm-4 item">
            <a style="background-position:center;"><img class="img-responsive" src="assets/profiles/Christian_Balogh.png" style="height:280px;background-position:center;border-radius:2px;margin: auto;"></a>
          </div>
          <div class="col-md-4 col-sm-4 item">
            <a style="background-position:center;"><img class="img-responsive" src="assets/profiles/Ionut_Lupsan.png" style="height:280px;background-position:center;border-radius:2px;margin: auto;"></a>
          </div>
      </div>
      <div class="row people">
          <div class="col-md-4 col-sm-4 item">
              <a style="background-position:center;"><img class="img-responsive" src="assets/profiles/Dan_Tarcau.png" style="height:280px;background-position:center;border-radius:2px;margin: auto;"></a>
          </div>
          <div class="col-md-4 col-sm-4 item">
            <a style="background-position:center;"><img class="img-responsive" src="assets/profiles/Rojas_Christian.png" style="height:280px;background-position:center;border-radius:2px;margin: auto;"></a>
          </div>
          <div class="col-md-4 col-sm-4 item">
            <a style="background-position:center;"><img class="img-responsive" src="assets/profiles/Zsolt_Bertalan.png" style="height:280px;background-position:center;border-radius:2px;margin: auto;"></a>
          </div>
      </div>
  </div>
</div>

