<div class="team-grid" style="padding:-60px 0px 0px 0px;" >
  <div data-aos="fade-right" data-aos-once="true" class="container">
      <div id="#profileheader" class="intro">
          <h2 class="text-center">{{ 'PROFILES.TITLE' | translate }}</h2>
          <p class="text-center">{{ 'PROFILES.DESCRIPTION' | translate }}</p>
      </div>
      <div id="#profiles" class="row people">
          <app-profile *ngFor="let item of pagedItemsUp" [profileSrc]="item" [profileNumber]="pagedItemsUp.length" style="padding: 10px 10px 10px 10px;">
          </app-profile>
          <app-profile *ngFor="let item of pagedItemsDown" [profileSrc]="item" [profileNumber]="pagedItemsDown.length" style="padding: 10px 10px 10px 10px;">
          </app-profile>
      </div>

      <div class="container">
          <div class="text-center">
              <!-- pager -->
              <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                  <li [ngClass]="{disabled:pager.currentPage === 1}">
                      <a (click)="setPage(1)">{{ 'GENERAL.FIRST' | translate }}</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === 1}">
                      <a (click)="setPage(pager.currentPage - 1)">{{ 'GENERAL.PREVIOUS' | translate }}</a>
                  </li>
                  <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                      <a (click)="setPage(page)">{{page}}</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                      <a (click)="setPage(pager.currentPage + 1)">{{ 'GENERAL.NEXT' | translate }}</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                      <a (click)="setPage(pager.totalPages)">{{ 'GENERAL.LAST' | translate }}</a>
                  </li>
              </ul>
          </div>
      </div>

  </div>
</div>

