<div class="highlight-phone" style="padding:35px 35px 30px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-push-1 col-sm-8" style="color:rgba(49,52,55,0.9);">
                <div class="intro">
                    <h2>{{ 'NAVBAR.SQUASH' | translate }}</h2>
                    <p class="text-justify">{{ 'SQUASHINCJ.DESCRIPTION1' | translate }}</p>
                    <p class="text-justify">{{ 'SQUASHINCJ.DESCRIPTION2' | translate }}</p>
                </div>
            </div>
            <div class="col-sm-4 col-lg-pull-1" style="padding: 30px 0px 0px 0px;">
                <div class="intro"><img class="img-circle" src="assets/img/sebi_profile.jpg" width="200px">
                    <h3 class="name">{{ 'SQUASHINCJ.SEBASTIAN' | translate }}</h3>
                    <p class="title">{{ 'SQUASHINCJ.SEBITITLE' | translate }}</p>
                    <p class="description">"{{ 'SQUASHINCJ.SEBIQUOTE' | translate }}" <a href="https://www.facebook.com/ProSquashRo" target="_blank" rel="external"><i class="glyphicon glyphicon-tag"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
