<div data-aos="fade-up" data-aos-once="true" class="features-boxed" style="padding: 0px 0px 30px 0px;">
    <div class="container container-fluid">
        <div class="intro">
            <h2 class="text-center" style="color:rgba(30, 21, 54, 0.93);">{{ 'NAVBAR.SQUASH' | translate }}</h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6" style="color:rgba(30, 21, 54, 0.93); padding: 10px;">
                <div class="intro">
                    <p class="text-justify" style="padding: 10px;">"{{ 'SQUASHINCJ.DESCRIPTION1' | translate }}"</p><br>
                    <p class="text-justify" style="padding: 10px;">{{ 'SQUASHINCJ.DESCRIPTION2' | translate }}</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6" style="padding: 10px 0px 0px 10px;">
                <div class="intro text-center"><img class="img-circle" style="border:2px solid rgba(30, 21, 54, 0.93); box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)" src="assets/img/sebi_profile.jpg" width="150px">
                    <h3 class="name text-center" style="color:rgba(30, 21, 54, 0.93);"><b>{{ 'SQUASHINCJ.SEBASTIAN' | translate }}</b></h3>
                    <p class="title text-center">{{ 'SQUASHINCJ.SEBITITLE' | translate }}</p><br>
                    <p class="description text-justify" style="padding: 10px;">"{{ 'SQUASHINCJ.SEBIQUOTE' | translate }}" <a href="https://www.facebook.com/ProSquashRo" target="_blank" rel="external"><i class="glyphicon glyphicon-tag"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
