<div data-aos="fade-left" class="highlight-phone" style="padding:35px 35px 30px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-push-1 col-sm-8" style="color:rgba(49,52,55,0.9);">
                <div class="intro">
                    <h2>SQUASH in Cluj-Napoca</h2>
                    <p>It all started in 2011 when the first club opened in town. There were two courts in the beginning and not many have heard about this sport. In a perfect sports business scenario, grass-roots participation and support attract corporate
                        backing, which funds&nbsp;<a href="http://www.telegraph.co.uk/investing/business-of-sport/">investment to grow the game</a> and brands associated with it. However, virtuous circles don’t always last. </p>
                    <p class="hidden-xs">You can't train kids in a world where adults have no concept of what science literacy is. The adults are gonna squash the creativity that would manifest itself, because they're clueless about what it and why it matters. But science
                        can always benefit from the more brains there are that are thinking about it - but that's true for any field. </p>
                </div>
            </div>
            <div class="col-sm-4"><img class="img-responsive hidden-xs box" src="assets/img/prosquash-469x134p-02_black.png" style="height:88px;margin:0px;padding:2px;">
                <div class="intro"><img class="img-circle" src="assets/img/sebi.jpg" width="200px">
                    <h3 class="name">Sebastian Baciu</h3>
                    <p class="title">El Presidente</p>
                    <p class="description">"If you want to win hearts and minds, you have to lead with your heart as well as your mind." </p>
                </div>
            </div>
        </div>
    </div>
</div>
